*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
body{
    /*height: auto;
    /* background-image: url(./photo-1489599849927-2ee91cede3ba.avif); */
    /* backdrop-filter: blur(1px); */
    
    color: white;
    
    background: linear-gradient( black  , red);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 20%;
    
    
}
.container{
    font-size: 16px;
    /* width: 90%; */
    padding: 6% 4%;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column; 
    /* position: relative; */ 
    /* transform: translate(-50%,-50%); */
    top:50%;
    left:50%;
    width: 100%;
    border-radius: 5px;
    
   

}
.header{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin: 20px;
    padding: 20px;
    max-height: 1000px;
}
input::placeholder{
    color: white;
}
input{
    text-align: center;
    width: 60%;
    /* padding: 8px; */
    height: 50px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
#result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
   
}
img{
    max-width: 100%;
    height: auto;
}
.movieContainer{
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border:1px solid white;
    background-color: black;
    
}
#srch-btn{
    font-size: 15px;
    outline: none;
    width: 100px;
    border-radius: 5px;
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
    padding: 10px;
    /* margin-left: 10px; */
}
.search-bar{
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap:20px;

}
.search-bar input,.search-bar button{
    font-size: 20px;
    outline: none;
    border-radius: 10px;

}
.search-bar input{
    
    border: 2px solid  #1F1A38;
    padding: 6px;
    color: black;
}
.search-bar input:focus{
    border: #1F1A38
}
.search-bar button{
    background-color: #2c2a39;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
#selectedMovie{
    display: flex;
    width:100%;
    
    height: auto;
   
    
    

    
}
#movieContent{
    width: 50%;
    
}
#movieImage{
    width: 50%;
    
}

#movieTrailer{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

option{
    background-color:rgb(133, 54, 54);
}


#movieTrailer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#movieImage{
    width:50%;
    padding: 30px;
    display: flex;
    
    justify-content: center;

    
}
#movieImage img{
    width: fit-content;
    height: 48%;
    border: 1px solid white;

}


#movieContent{
    width: 50%;
    padding: 20px;
    line-height: 30px
}

#movieContent h3{
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#movieContent h6{
    font-size: 20px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#cast-selection{
    background:transparent;
    color: aliceblue;
    /* margin-left: 10px; */
    padding: 10px;
}

#loading{
    text-align: center;
    /* width: 100%; */
}

@media(max-width:800px){
    .header{
        flex-direction: column;
        margin-top: 5px;
        padding-top: 10px;

    }
    .search-bar{
        margin-bottom: 20px;
    }
    #cast-selection{
        margin-bottom: 20px;
    }
    body{
        background: repeating-linear-gradient(red,black);
    }
    #movieContent{
        order: 2;
        
    }
    #movieImages{
        order: 1;
    }
    #selectedMovie{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}